PWebService/config/VWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ax23="http://ws.inpac.telcordia.com/xsd"
	xmlns:xsd="http://ws.webservice.its.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:itstypes="http://ws.webservice.its.com/itsDataTypes"
	targetNamespace="http://ws.webservice.its.com">

	<wsdl:import
		namespace="http://ws.webservice.its.com/itsDataTypes"
		location="VWebService.xsd"></wsdl:import>
	<wsdl:types>
		<xs:schema xmlns:ax24="http://ws.webservice.its.com/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://ws.webservice.its.com">
			<xs:import namespace="http://ws.webservice.its.com" />

			<xs:element name="processWebService">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="headerType"
							type="itstypes:HeaderType" />
						<xs:element minOccurs="1" name="processMessageType"
							type="itstypes:ProcessMessageType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="processAPIResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="itstypes:RetResultType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="processWebServiceRequest">
		<wsdl:part name="parameters" element="xsd:processWebService" />
	</wsdl:message>

	<wsdl:message name="processAPIRetResponse">
		<wsdl:part name="parameters"
			element="xsd:processAPIResponse" />
	</wsdl:message>

	<wsdl:portType name="VWebServicePortType">
		<wsdl:operation name="processWebService">
			<wsdl:input message="xsd:processWebServiceRequest"
				wsaw:Action="urn:login" />
			<wsdl:output message="xsd:processAPIRetResponse"
				wsaw:Action="ur:processAPIRetResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="VWebServiceSoap12Binding"
		type="xsd:VWebServicePortType">
		<soap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />

		<wsdl:operation name="processWebService">
			<soap12:operation soapAction="urn:login"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="VWebService">
		<wsdl:port name="VWebServiceHttpSoap12Endpoint"
			binding="xsd:VWebServiceSoap12Binding">
			<soap12:address
				location="http://localhost:8080/axis2/services/VWebService" />
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
